doctype html
html(lang="en")
 
    head
        
        title nomilous.io
        link(rel='stylesheet', href='/css/style.css')
        script(src='/js/require.min.js', data-main='/client/main')


    body

        div.progress-bar(id='progress-bar')
            |loading resources
            div.progress-frame
                div.progress(id='progress')
